# 🧠 Sales Data Analysis

Mini exploratory data analysis (EDA) on sales data.

In [ ]:
import pandas as pd

# Original sales data
data = {
    "Product": ["Laptop", "Tablet", "Laptop", "Monitor", "Tablet", "Keyboard", "Monitor", "Laptop"],
    "Category": ["Electronics", "Electronics", "Electronics", "Accessories", "Electronics", "Accessories", "Accessories", "Electronics"],
    "Price": [1200, 500, 1300, 300, 450, 100, 280, 1250],
    "Units_Sold": [10, 15, 7, 12, 10, 25, 8, 9],
    "Date": ["2025-06-01", "2025-06-02", "2025-06-05", "2025-06-07", "2025-06-10", "2025-06-11", "2025-06-12", "2025-06-15"]
}

more_data = {
    "Product": ["Mouse", "Laptop", "Chair", "Tablet", "Mouse", "Laptop Stand", "Keyboard", "Tablet", "Monitor", "Laptop"],
    "Category": ["Accessories", "Electronics", "Furniture", "Electronics", "Accessories", "Accessories", "Accessories", "Electronics", "Accessories", "Electronics"],
    "Price": [50, 1400, 700, 600, 55, 150, 120, 480, 290, 1350],
    "Units_Sold": [30, 6, 5, 12, 20, 18, 10, 14, 11, 7],
    "Date": ["2025-06-16", "2025-06-17", "2025-06-18", "2025-06-19", "2025-06-20",
             "2025-06-21", "2025-06-22", "2025-06-23", "2025-06-24", "2025-06-25"]
}

df = pd.DataFrame(data)
df_more = pd.DataFrame(more_data)

df['Date'] = pd.to_datetime(df['Date'])
df_more['Date'] = pd.to_datetime(df_more['Date'])

df = pd.concat([df, df_more], ignore_index=True)
df['Revenue'] = df['Price'] * df['Units_Sold']
df.head()

## 🔍 KPI Questions and Analysis

In [ ]:
# Unique products
print("Unique products:", df['Product'].nunique())

# Total revenue per product
print(df.groupby('Product')['Revenue'].sum())

# Top product by revenue
print("Top product by revenue:", df.groupby('Product')['Revenue'].sum().sort_values(ascending=False).index[0])

# Average price per product
print(df.groupby('Product')['Price'].mean())

# Units sold per category
print(df.groupby('Category')['Units_Sold'].sum())

# Category with lowest average price
print("Lowest avg price category:", df.groupby('Category')['Price'].mean().sort_values().index[0])

# Products priced over 1000
print(df[df['Price'] > 1000]['Product'].unique())

# Average units sold per product
print(df.groupby('Product')['Units_Sold'].mean())

# Top 3 products by total units sold
print(df.groupby('Product')['Units_Sold'].sum().sort_values(ascending=False).head(3))

## 📌 Summary

- Revenue calculated
- Grouped metrics explored
- Top product, category insights gained
- Great for EDA practice